h1 {
font-family: sans-serif;
font-family: arial;
background-position:0 0px;
background-repeat:no-repeat;
color:rgb(120,0,100);
font-size:x-large;
font-weight:bold;
margin:1em 2em 1em 2em;
text-align:center;
}
h2 {
font-family: sans-serif;
font-family: arial;
background-position:0 0px;
background-repeat:no-repeat;
color:rgb(100,0,255);
font-size:large;
font-weight:normal;
margin:1em 2em 1em 2em;
text-align:left;
}
p {
font-family: sans-serif;
font-family: arial;
color:rgb(0,0,0);
font-size:large;
font-weight:normal;
}#sheet {
width:96.5%;
border:1px solid gray;
padding:8px;
}
#number h1 {
text-align:center;
}
#scope {
margin:0 0 2em 0;
}
#status {
margin:0 0 2em 0;
}
#bateri {
margin:0 0 2em 0;
}